@charset "UTF-8";
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  float: right;
}

.navbar {
  padding: 10px 16px;
  /*color: #f1f1f1;*/
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #333;
  display: inherit;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}


.content {
  background: linear-gradient(55deg, #4e75b9 30%, #5cbf98 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 12vh 100px;
  font-family: "Source Sans Pro", arial, sans-serif;
  font-weight: 300;
  color: #333;
  box-sizing: border-box;
}
body * {
  box-sizing: border-box;
}

.timeline {
  width: 100%;
  max-width: 2500px;
  background: #fff;
  padding: 100px 50px;
  position: relative;
  box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}
.timeline:before {
  content: "";
  position: absolute;
  top: 0px;
  left: calc(23% + 17px);
  bottom: 0px;
  width: 10px;
  background: #ddd;
}
.timeline:after {
  content: "";
  display: table;
  clear: both;
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
}
.entry .title {
  margin-bottom: 0.5em;
  float: left;
  width: 22%;
  padding-right: 30px;
  text-align: right;
  position: relative;
}
.entry .title:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid salmon;
  background-color: #fff;
  border-radius: 100%;
  top: 15%;
  right: -11px;
  z-index: 99;
}
.entry .title h3 {
  margin: 0;
  font-size: 120%;
}
.entry .title p {
  margin: 0;
  font-size: 100%;
}
.entry .body {
  margin: 0 0 3em;
  float: right;
  width: 75%;
  padding-left: 30px;
}
.entry .body p {
  line-height: 1.4em;
}
.entry .body p:first-child {
  margin-top: 0;
  font-weight: 400;
}
.entry .body ul {
  color: #aaa;
  padding-left: 0;
  list-style-type: none;
}
.entry .body ul li:before {
  content: "–";
  margin-right: 0.5em;
}


#about_statement{
  width: 30%;
  float: left;
  padding: inherit;
}

#profile_pic {
  width: 40%;
  padding: inherit;
  float: left;
  align-content: center;
}

#technical_skills {
  text-align: left;
  width: 30%;
  float: left;
  padding: inherit;
}

/*.sticky {*/
    /*position: fixed;*/
    /*top: 0;*/
    /*width: 100%;*/
/*}*/

.sticky + .content {
  padding-top: 102px;
}
